# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & IDE
.venv/
venv/
ENV/
.env
.vscode/
.idea/

# Large Datasets & Raw MRI NIfTI Files (Excluding heavy data from Git)
ASNR-MICCAI-BraTS2023-MEN-Challenge-TrainingData/
ASNR-MICCAI-BraTS2023-MEN-Challenge-ValidationData/
datasets/
data/
processed_cache/

# Large NIfTI & Model Weights
*.nii
*.nii.gz
*.pt
*.pth
*.ckpt

# Output Cache & Temporary Folders
inference_output/
logs/
